# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime

In [4]:
# Set the date column as the DataFrame index

In [5]:
# Drop the date column

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months

In [8]:
# Identify the average temperature for June
# Average height for pre-1940 players
# from \10-Advanced-Data-Storage-and-Retrieval\2\Activities\01-Ins_Basic_Querying
# Average height for pre-1940 players
mean(pre_1940_height_list)

NameError: name 'mean' is not defined

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

# from \10-Advanced-Data-Storage-and-Retrieval\2\Activities\01-Ins_Basic_Querying
# Unpaired (independent) t-test
stats.ttest_ind(post_1940_height_list, pre_1940_height_list)

### Analysis